/* Sidebar style */
div.sideBar{
    background-color: #020203;
    height: calc(95vh - 85px);
    width: 12%;
    max-width: 120px;
    justify-content: flex-end;
    row-gap: 20%;
    padding-bottom: 5vh;
}

/* Block containing activity icons in the sidebar */
div.sideIconsContainer{
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Copyright text in the sidebar */
div.copyrightText{
    font-size: 12px;
    color: #FFFFFF;
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    align-items: center;
}

/* Low res dekstop screen adjustments */
@media screen and (max-width:1439px) {
    div.sideBar{
        height: calc(95vh - 85px);
        width: 80px;
    }
}